#topNav {
  position: relative;
  background: #000;
  border-bottom: 1px solid #ededee;
  color: #ccc; }
  #topNav .topNavWrap {
    position: relative;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    width: 1090px; }
    #topNav .topNavWrap a {
      color: #999; }
      #topNav .topNavWrap a:hover {
        color: #fff; }
    #topNav .topNavWrap .topNavLeft {
      float: left; }
      #topNav .topNavWrap .topNavLeft .login {
        margin-left: 16px; }
      #topNav .topNavWrap .topNavLeft ._blank {
        padding-left: 16px; }
    #topNav .topNavWrap .topNavLeft2 {
      padding-left: 30px;
      float: left; }
      #topNav .topNavWrap .topNavLeft2 .app {
        position: relative; }
    #topNav .topNavWrap .topNavRight {
      float: right;
      position: relative;
      right: -3px; }
      #topNav .topNavWrap .topNavRight li {
        float: left; }
        #topNav .topNavWrap .topNavRight li .mcDropMenuBox {
          position: relative;
          border: 1px solid transparent;
          left: -3px;
          top: -1px; }
        #topNav .topNavWrap .topNavRight li .toplevel {
          padding: 0 14px 0 8px; }
      #topNav .topNavWrap .topNavRight .dropmenu:hover .mcDropMenuBox {
        background: #fff; }
      #topNav .topNavWrap .topNavRight .dropmenu:hover .toplevel {
        color: red; }
      #topNav .topNavWrap .topNavRight .dropmenu:hover .GeRenCaidan {
        display: block;
        z-index: 105; }
      #topNav .topNavWrap .topNavRight .dropmenu:hover .topNavHolder .arr {
        position: absolute;
        right: -10px;
        top: 50%;
        margin-top: -2px;
        border-color: transparent transparent red;
        border-style: dashed dashed solid;
        border-width: 0 4px 4px; }
      #topNav .topNavWrap .topNavRight .greenhand {
        display: none; }
      #topNav .topNavWrap .topNavRight .qianDao {
        margin-right: 24px; }
      #topNav .topNavWrap .topNavRight .personal {
        position: relative; }
        #topNav .topNavWrap .topNavRight .personal .topNavHolder {
          position: relative;
          padding: 0 24px 0 16px !important; }
          #topNav .topNavWrap .topNavRight .personal .topNavHolder .arr {
            position: absolute;
            right: -10px;
            top: 50%;
            margin-top: -2px;
            border-color: #999 transparent transparent;
            border-style: solid dashed dashed;
            border-width: 4px 4px 0; }
        #topNav .topNavWrap .topNavRight .personal .GeRenCaidan {
          position: absolute;
          left: -1px;
          top: 30px;
          background: #fff;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
          padding: 4px 15px 12px 14px;
          display: none;
          z-index: 105; }
          #topNav .topNavWrap .topNavRight .personal .GeRenCaidan a {
            width: 80px;
            display: block; }
          #topNav .topNavWrap .topNavRight .personal .GeRenCaidan a:hover {
            color: red; }

#docHead {
  background: #fff;
  padding-top: 30px; }
  #docHead .docHeadWrap {
    width: 1090px;
    height: 85px;
    margin: 0 auto; }
    #docHead .docHeadWrap .logo {
      float: left; }

#cartbox {
  width: 1090px;
  margin: 0 auto; }
  #cartbox .m-mycart {
    font-size: 14px;
    color: #333;
    line-height: 32px;
    margin-top: 15px; }
    #cartbox .m-mycart .tt {
      position: relative;
      top: -1px;
      font-weight: bold; }
    #cartbox .m-mycart .tip {
      position: relative;
      float: right;
      top: -4px;
      height: 32px;
      line-height: 32px;
      font-size: 12px;
      font-weight: normal; }
      #cartbox .m-mycart .tip .alert {
        position: absolute;
        top: 10px;
        left: -16px;
        width: 12px;
        height: 12px; }
      #cartbox .m-mycart .tip .u-icnft {
        font-size: 12px;
        margin-left: 0;
        color: #999;
        cursor: pointer; }
  #cartbox .m-cartbox .head {
    color: #999;
    border: 1px solid #eaeaea;
    height: 34px;
    line-height: 34px;
    margin-bottom: 30px; }
    #cartbox .m-cartbox .head .col {
      float: left;
      padding: 0 10px; }
    #cartbox .m-cartbox .head .col1 {
      width: 114px;
      position: relative; }
      #cartbox .m-cartbox .head .col1 .u-chk {
        margin: 0 10px 0 12px;
        position: absolute;
        top: 25%;
        left: 10px;
        width: 17px;
        height: 18px;
        display: inline-block; }
      #cartbox .m-cartbox .head .col1 .lab {
        color: #000;
        cursor: default;
        margin-left: 32px; }
    #cartbox .m-cartbox .head .col2 {
      width: 402px; }
    #cartbox .m-cartbox .head .col3 {
      width: 130px; }
    #cartbox .m-cartbox .head .col4 {
      width: 127px; }
    #cartbox .m-cartbox .head .col5 {
      width: 108px; }
    #cartbox .m-cartbox .head .col6 {
      width: 93px;
      padding: 0 7px;
      text-align: left; }
  #cartbox .goods {
    height: 160px;
    border: 1px solid #eaeaea; }
    #cartbox .goods .m-goods .gooditm {
      padding: 20px 0;
      height: 120px; }
      #cartbox .goods .m-goods .gooditm .col {
        float: left;
        line-height: 80px;
        height: 80px; }
      #cartbox .goods .m-goods .gooditm .col10 {
        width: 80px; }
        #cartbox .goods .m-goods .gooditm .col10 .u-chk {
          margin: 0 10px 0 22px;
          width: 17px;
          height: 18px;
          display: inline-block; }
      #cartbox .goods .m-goods .gooditm .col11 {
        width: 390px; }
        #cartbox .goods .m-goods .gooditm .col11 .imgwrap {
          float: left;
          width: 80px;
          height: 80px;
          margin-right: 10px; }
        #cartbox .goods .m-goods .gooditm .col11 .txtwrap {
          float: left; }
          #cartbox .goods .m-goods .gooditm .col11 .txtwrap .goodtlt {
            width: 300px;
            height: 40px; }
          #cartbox .goods .m-goods .gooditm .col11 .txtwrap .spex {
            height: 26px; }
      #cartbox .goods .m-goods .gooditm .col12 {
        width: 108px;
        margin-left: 30px;
        text-align: center; }
      #cartbox .goods .m-goods .gooditm .col13 {
        width: 123px;
        padding: 0 0 0 20px; }
        #cartbox .goods .m-goods .gooditm .col13 .u-setcount {
          background: #fff; }
          #cartbox .goods .m-goods .gooditm .col13 .u-setcount .minus {
            cursor: not-allowed;
            color: #bcbcbc;
            border-color: #bcbcbc;
            float: left;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            text-decoration: none;
            border: 1px solid #bcbcbc;
            font-family: "iconfont"; }
          #cartbox .goods .m-goods .gooditm .col13 .u-setcount .ipt {
            float: left;
            width: 43px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            border: #bcbcbc 1px solid;
            border-width: 1px 0; }
          #cartbox .goods .m-goods .gooditm .col13 .u-setcount .plus {
            float: left;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            cursor: pointer;
            text-decoration: none;
            border: 1px solid #bcbcbc;
            color: #333;
            font-family: "iconfont"; }
      #cartbox .goods .m-goods .gooditm .col14 {
        width: 152px;
        text-align: center;
        margin-right: 10px; }
    #cartbox .goods .cartinfo {
      height: 40px;
      border-top: 1px solid #eaeaea;
      line-height: 40px; }
      #cartbox .goods .cartinfo div {
        float: right;
        padding-right: 50px; }
  #cartbox .totalbox {
    min-height: 62px;
    margin-top: 35px; }
    #cartbox .totalbox .m-total {
      width: 480px;
      min-width: 820px;
      z-index: 101;
      border: 1px solid #eaeaea; }
      #cartbox .totalbox .m-total .ttbar {
        height: 60px;
        line-height: 60px;
        width: 1090px;
        position: relative;
        background-color: #f8f8f8; }
        #cartbox .totalbox .m-total .ttbar .lt {
          float: left; }
          #cartbox .totalbox .m-total .ttbar .lt .u-chk {
            margin: 0 10px 0 22px;
            width: 17px;
            height: 18px;
            display: inline-block; }
          #cartbox .totalbox .m-total .ttbar .lt .lab {
            color: #000;
            cursor: default;
            margin-left: 32px; }
          #cartbox .totalbox .m-total .ttbar .lt .opt {
            cursor: pointer;
            margin-left: 20px; }
        #cartbox .totalbox .m-total .ttbar .rt {
          float: right;
          padding-right: 140px;
          line-height: 20px;
          text-align: right; }
          #cartbox .totalbox .m-total .ttbar .rt .allgoods {
            margin-top: 20px; }
            #cartbox .totalbox .m-total .ttbar .rt .allgoods .num {
              color: #e31436;
              font-weight: bold;
              font-size: 18px; }
            #cartbox .totalbox .m-total .ttbar .rt .allgoods .itm {
              margin-left: 20px; }
              #cartbox .totalbox .m-total .ttbar .rt .allgoods .itm .num {
                color: #e31436;
                font-weight: bold;
                font-size: 18px; }
          #cartbox .totalbox .m-total .ttbar .rt .gobuy {
            position: absolute;
            right: -1px;
            top: -1px;
            bottom: 0;
            width: 120px;
            line-height: 60px;
            text-align: center;
            background-color: #e31436;
            color: #fff;
            font-size: 18px;
            cursor: pointer; }

#docFoot {
  margin: 80px 0 0; }
  #docFoot .footBgWrap {
    background: #fff;
    border-top: 1px solid #eaeaea; }
    #docFoot .footBgWrap .box {
      width: 1100px;
      margin: 0 auto;
      background-color: transparent;
      text-align: left;
      font-size: inherit;
      color: inherit;
      cursor: default;
      display: block; }
      #docFoot .footBgWrap .box #btmlist {
        padding: 49px 0;
        border-bottom: 1px solid #eaeaea;
        height: 140px; }
        #docFoot .footBgWrap .box #btmlist li {
          float: left;
          width: 233px;
          margin-left: 42px; }
          #docFoot .footBgWrap .box #btmlist li .btmIcon {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            border: 2px solid #d6d6d6;
            text-align: center;
            line-height: 40px;
            font-size: 20px;
            font-weight: 700;
            display: inline-block;
            float: left;
            margin-right: 12px; }
          #docFoot .footBgWrap .box #btmlist li .tit {
            font-size: 18px;
            font-weight: 700;
            display: block;
            line-height: 22px; }
          #docFoot .footBgWrap .box #btmlist li .desc {
            font-size: 14px;
            display: block;
            line-height: 22px; }
      #docFoot .footBgWrap .box #guideList {
        padding: 45px 0 90px;
        width: 1090px;
        height: 220px; }
        #docFoot .footBgWrap .box #guideList .first {
          width: 218px;
          margin-right: 100px;
          border: none; }
          #docFoot .footBgWrap .box #guideList .first a {
            text-decoration: none; }
          #docFoot .footBgWrap .box #guideList .first .logokaola {
            display: block;
            width: 220px;
            height: 43px;
            line-height: 45px;
            margin-bottom: 20px;
            outline: none;
            cursor: pointer;
            background: url(../img/logo.png) no-repeat; }
          #docFoot .footBgWrap .box #guideList .first .focuson {
            width: 220px;
            height: 32px; }
            #docFoot .footBgWrap .box #guideList .first .focuson .label {
              display: inline-block;
              vertical-align: middle; }
            #docFoot .footBgWrap .box #guideList .first .focuson .itm {
              position: relative;
              margin-left: 10px;
              cursor: pointer;
              display: inline-block;
              vertical-align: middle; }
              #docFoot .footBgWrap .box #guideList .first .focuson .itm .weibo {
                background: url(../img/weibo.png) no-repeat;
                width: 32px;
                height: 32px;
                background-size: 100%;
                display: inline-block; }
        #docFoot .footBgWrap .box #guideList li {
          float: left;
          width: 110px;
          padding: 0 0 0 21px;
          height: 128px; }
          #docFoot .footBgWrap .box #guideList li dt {
            margin: -4px 0 10px; }
            #docFoot .footBgWrap .box #guideList li dt em {
              font-size: 18px;
              font-weight: 400;
              font-style: normal; }
          #docFoot .footBgWrap .box #guideList li dd {
            line-height: 29px; }
            #docFoot .footBgWrap .box #guideList li dd a {
              color: #333; }
              #docFoot .footBgWrap .box #guideList li dd a:hover {
                text-decoration: underline; }
        #docFoot .footBgWrap .box #guideList .last {
          margin-left: 30px;
          width: 108px;
          text-align: center;
          float: left;
          border: none; }
          #docFoot .footBgWrap .box #guideList .last img {
            margin: 0 0 6px; }

#aboutNEST {
  padding-top: 20px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #c2c2c2;
  background: #333; }
  #aboutNEST .jianjie a {
    color: #c2c2c2; }
    #aboutNEST .jianjie a:hover {
      text-decoration: underline; }
  #aboutNEST .xukezheng .m-license {
    margin-left: 20px;
    color: #c2c2c2; }
    #aboutNEST .xukezheng .m-license:hover {
      text-decoration: underline; }
  #aboutNEST .gongwan .banquan {
    color: #c2c2c2;
    display: inline-block;
    margin-left: 32px; }
    #aboutNEST .gongwan .banquan:hover {
      text-decoration: underline; }
  #aboutNEST .f-tac {
    height: 50px;
    margin-top: 20px;
    padding-left: 45%; }
    #aboutNEST .f-tac a {
      float: left;
      margin-right: 20px; }
      #aboutNEST .f-tac a img {
        height: 30px; }

/*# sourceMappingURL=shopping_car_t_b.css.map */
